* {
    margin: 0;
    padding: 0;
}


html {
    background-color: rgb(18,20,25);
    color:white;
    text-align:center;
    font-family: "Open Sans", serif;
}

body {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}
header {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
}
nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px
}
a {
    color:white;
    margin-right: 10px;
}

figure.cover img {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
    border-radius: 15px;
}

p {
    text-align: left;
    font-size: 21px;
}